.inputContainer {
  display: flex;
  flex-direction: column;
}
.column {
  flex-direction: column;
}

.row {
  flex-direction: row-reverse;
  margin-left: 12px;
}

.input {
  padding: 10px 24px;
  border-radius: 6px;
}

.select {
}

.label {
  margin-bottom: 8px;
  font-size: 24px;
}

.hr {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.5);
}
